<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="container mt-3"> 
        <form action="/Informazioni" method="GET">
                <div class="mb-3 mt-3">
                    <label for="nomecliente" class="form-label">Nome del cliente:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Inserisci il nome del cliente" name="nome">
                    <label for="cognomecliente" class="form-label">Cognome del cliente:</label>
                    <input type="text" class="form-control" id="cognome" placeholder="Inserisci il cognome del cliente" name="cognome">
                    <input type="submit" value="submit">
                </div>
        </form>
    </div>







</body>
</html>